<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h2>User info</h2>
      <%= form_for(@user) do |f| %>
      <%= render 'books/error', model: @user %>
        <div class="form">Name</div>
          <%= f.text_field :name , class: "form-control"%>
          <div class="form">Image</div>
            <input class="form-control-file user_image" accept="image/*" type="file" name="user[profile_image]" id="user_profile_image">
          <div class="form-">Introduction</div>
          <%= f.text_area :introduction, class: "form-control"%><br>
          <div class="upload">
            <%= f.submit " Update User" , class:'btn btn-sm btn-secondary'%>
          </div>
      <% end %>
    </div>
  </div>
</div>

